/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f8fc;
  color: #333;
  
}

/* Container */
.register-container {
  display: flex;
  height: 95vh;
  padding-right: 200px;
}

/* Left Section (Image) */
.register-left {
  width: 55%;
  background: linear-gradient(to bottom right, #e9f5ff, #cbe4f8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-image {
  max-width: 140%;
  height: 100%;
}

/* Right Section (Form) */
.register-right {
  width: 118%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px 0px 0px 0px;
  height: 632px;
  padding: 40px 80px;
}

.background-box {
  background-color: rgb(68, 101, 112); /* Sets the background color */
  padding:70px 60px;
  width: 45%;       
}

.register-title {
  font-size: 28px;
  font-weight: bold;
  color: rgb(48, 83, 103);
  margin-bottom: 75px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  position: relative;
  
}

.input-field {
  width: 120%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
  
}

.input-field:focus {
  border: 1px solid #0d355f;
  box-shadow: 0 0 5px rgba(13, 53, 95, 0.3);
}



.toggle-visibility {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

.btn-register {
  
  width: 120%;
  padding: 12px 15px;
  font-size: 16px;
  background-color: rgb(68, 101, 112); 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #09304c;
}

.register-footer {
  font-size: 14px;
  color: #555;
  text-align: 10px;
  margin-top: 10px;
}

.link {
  color: #0d355f;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #09304c;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }

  .register-left, .register-right {
    width: 100%;
    padding: 20px;
  }

  .register-image {
    max-width: 90%;
  }
}
