/* Filter Container */
.filter-container {
  margin-left: 750px;
  margin-top: -75px;
}

/* Dropdown Menus */
.filter-dropdown {
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.filter-dropdown:focus {
  border-color: #007bff;
  outline: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }

  .filter-dropdown {
    width: 100%;
  }
}
