/* SearchBar container */
.search-bar {
  max-width: 400px;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center; /* Aligns the icon and input field */
  position: relative;
  height: 45px;
  margin-top: 0px;
}

/* Input field */
.search-input {
  width: 100%;
  padding: 10px 30px 10px 10px; /* Add extra padding for the icon */
  font-size: 1rem;
  border: 0px;
  outline: 10px;
  color: #333;
  background-color: transparent; /* Transparent background to allow icon visibility */
}

/* Focus effect */
.search-input:focus {
  color: #007bff;
  outline: none;
}

/* Placeholder text */
.search-input::placeholder {
  color: #bbb;
}



/* Hover effect */
.search-bar:hover {
  border-color: #007bff;
}
